body{
    max-width: 1000px;
    background-color: #d2d2c1;
    font: 16px Arial, Helvetica, sans-serif;
}
#nav{
    background-color: #c5c5b2;
    padding: 15px;
}
a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
.conteudo{
    background: #F9F7F6;
    padding: 10px;
}
footer{
    text-align: center;
}
h1{
    color: #828271;
    font-size: 1.5 em;
}

.img-motos{
    /* width: 50%; */
    border: 9px solid #c3c3ae;
}